.layout-container {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

/* Default: all pages get navbar padding */
.layout-content {
	padding-top: calc(var(--navbar-height));
	flex: 1;
	box-sizing: border-box;
}

/* Login page: no navbar = no padding */
.no-nav .layout-content {
	padding-top: 0 !important;
}
