.layout-container {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

/* This ensures all pages clear the fixed navbar */
.layout-content {
	padding-top: calc(var(--navbar-height) + 1rem);
	flex: 1;
	box-sizing: border-box;
}

/* Login page: no navbar = no padding */
.no-nav .layout-content {
	padding-top: 0;
}
